* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(243, 235, 235);
    padding: 16px 0;
    border-bottom: 8px solid black;
    border-top: 8px solid black;
    text-align: center;
}

body h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-campo {
    text-align: right;
    margin-bottom: 10px;
    font-size: 40px;
    margin-right: 550px;
}

input {
    height: 50px;
    width: 800px;
    font-size: 30px;
}

button {
    height: 50px;
    width: 100px;
    margin-top: 80px;
    justify-content:space-between;
}

#btn-enviar {
    background-color: rgb(55, 203, 55);
}

#btn-cancelar {
    background-color: rgb(239, 87, 87);
}

.btns {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
}
